@font-face {
        font-family: 'Raleway Regular';
        font-style: normal;
        font-weight: normal;
        src: local('Raleway Regular'), url('raleway2/Raleway-Regular.woff') format('woff');
        }
body{
    font-family: 'Raleway Regular',Arial, serif ;
   /* width: 1310px;*/
    margin: 0;
    padding: 0;
}
header{
    display: flex;
	border: 0px black solid;
	justify-content: space-between;
	background-color: white;
	margin-top: 0;
    height: 110px;
}
.logo{
    width: 95px;
    height: 45px;
    margin-top: 35px;
    margin-left: 50px;

}
#navigation li{
    display: inline;
	margin-right: 10px;

}
#navigation{
	border:0px solid black;
	margin-top: 40px;
    margin-right: 30px;
	display: inline-flex;
	flex-direction: row;
    justify-content: space-between;
    width: 400px;
    height: 30px;
}
span[class*="nav"]:hover{
    border-top: 2px solid #0065FC;
    padding-top: 40px;
    color: #0065FC
}
span.heberg{
    padding-left: 30px;
    padding-right: 30px;
}
span.acti{
    padding-left: 25px;
    padding-right: 25px;
}
span.inscrire{
    padding-left: 25px;
    padding-right: 25px;
    color: #0065FC;
    font-weight: bold;
}
a{
    text-decoration: none;
    color:black;   
}
h1{
    border: 0px black solid;
    font-size: 1.25em;
    line-height: 1px;
    margin-left: 50px;
}
h1+p{
    border: 0px black solid;
    margin-left: 49px;
 }  
#search{
    border: 1px solid #F2F2F2;
    position: absolute;
    top: 175px;
    height: 44px;
    width: 220px;
    font-size: 1em;
}
#form{
    border: 0px black solid;
    display: flex;
    flex-direction: row;
    height: 43px;
    margin-left: 55px;
}
.map{
    height: 32px;
    width: 43px;
    text-align: center;
    background-color: #F2F2F2;
    border-radius: 25% 0 0 25%;
    padding-top: 12px;
}
.bouton{
    width: 120px;
    margin-left: 220px;
    background-color: #0065FC;
    border-radius: 0 12px 12px 0;
    border: 0px black solid;
    color: white;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}
#filtres{
    border:0px black solid;
    display:inline-flex;
    flex-direction: row;
    width: 840px;
    justify-content: space-around;
    margin-left: 55px;
    margin-top: 27px;
}
.filter-icon{
    width: 46px;
    height: 32px;
    text-align: center;
    border-radius: 50% 50%;
    background-color: #DEEBFF;
    color: #0065FC;
    padding-top: 13px;
}
.filter-bouton{
    border: 2px solid #F2F2F2;
    display: flex;
    flex-direction: row;
    height: 45px;
    border-radius: 28px 28px 28px 28px;
    border-left: none;
}
.filter-text{
    padding-left: 15px;
    font-weight: bold;
}
.casheco{
    width: 175px;
}
.childfam{
    width: 140px;
}
.heartrom{
    width: 175px;
}

.doganim{
    width: 220px;
}
.filter-bouton:hover{
    background-color:  #0065FC;
    color: white;
}
.fil{
    font-weight: bold;
}
.fa-info-circle{
    background-color: #0065FC;
    color: white;
    border-radius: 50% 50%;
    margin-right: 10px;
    margin-left: 55px;
    margin-top: 30px;
}
#hébergement{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 0px black solid;
    width: 800px;
    height: 560px;
    background-color: #F2F2F2;
    margin-left: 30px;
    margin-top: 25px;
    border-radius: 15px;
}
h2{
    padding-top: 25px;
    font-size: 1.25em;
    border: 0px black solid;
    width: 700px;
    height: 30px;
    margin-left: 15px;
}
.héberg-picture{
    width: 210px;
    height: 120px;
    border: 4px white solid;
    border-radius: 15px 15px 0 0;
}
.texte-héberg{
    margin-top: -25px;
    padding-left: 10px;
    border: 1px white solid;
    height: 70px;
    font-size: 0.8em;
    line-height: 3px;
    width: 206px;
    background-color: white;
    position: absolute;
    border-radius: 0 0 15px 15px;
}
.fa-star{
    color: #0065FC;
}
.vide{
    color:#DEEBFF;
}
em{
    font-weight: bold;
    font-style: normal;
}
div[class*=photo-bouton]{
  width: 218px;
  height: 179px;
  border: 0px black solid;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 2px 2px 5px 2px rgb(196, 191, 191);
}
.photo-bouton-1, .photo-bouton-2, .photo-bouton-3{
    margin-top: -30px;
}
.photo-bouton-4, .photo-bouton-5, .photo-bouton-6{
    margin-top: 5px;
}
.photo-bouton-1{
    margin-left: 15px;
    margin-right: 0px;
}
.photo-bouton-3{
    margin-right: 17px;
}
.photo-bouton-4{
    margin-left: 15px;
}
.photo-bouton-5{
 }
.photo-bouton-6{
    margin-right: 17px;
}
.aff-plus{
    width: 700px;
    height: 30px;
    margin-bottom: -10px;
    margin-left: -10px;
    border: 0px black solid;
}
#populaire{
    width: 380px;
    height: 560px;
    border: 0px black solid;
    margin-top: 25px;
    margin-right: 30px;
    border-radius: 15px;
    background-color: #F2F2F2;
}
#héberg-populaire{
    display: flex;
    justify-content: space-around;
}
.texte-icon-populaire{
    width: 350px;
    height: 30px;
    border: 0px black solid;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fa-chart-line{
    color: black;
    border: 0px black solid;
    padding-top: 20px;
    width: 30px;
    height: 25px;
    font-size: 1.3em;
}
h3{
    font-size: 1.25em;
}
.cadre-photo-pop{
    width: 300px;
    height: 450px;
    border: 0px solid black;
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pop-picture-1, .pop-picture-2, .pop-picture-3{
    width: 115px;
    height: 125px;
    border-radius: 15px 0 0 15px;
}
.pop-bouton-1, .pop-bouton-2, .pop-bouton-3{
    width: 292px;
    height: 125px;
    border: 4px white solid;
    border-radius: 15px;
    font-size: 0.8em;
    display: flex;
    background-color: white;
    box-shadow: 2px 2px 5px 2px rgb(196, 191, 191);
}
.texte-pop-1, .texte-pop-2, .texte-pop-3{
    padding-left: 10px;
    line-height: 10px;
}
.star-icon-pop-2{
    margin-top: 40px;
}

.star-icon-pop{
    margin-top: 60px;
}
h4{
    margin-top: 60px;
    margin-left: 70px;
    font-size: 1.25em;
}
#activités{
    width: 1225px;
    height: 400px;
    border: 0px black solid;
    margin-left: 70px;
    display: flex;
    justify-content: space-between;
}
.acti-bouton-1, .acti-bouton-4{
    height: 400px;
    width: 280px;
    border: 0px black solid;
    box-shadow: 2px 2px 5px 2px rgb(196, 191, 191);
    border-radius: 15px;
}
.acti-picture-1, .acti-picture-4{
    width: 280px;
    height: 350px;
    border-radius: 15px 15px 0 0;
}
.texte-acti-1, .texte-acti-4{
    border-radius: 0 0 15px 15px;
    border: 1px white solid;
    margin-top: -6px;
    background-color: white;
    font-size: 0.9em;
    padding-left: 20px;
    padding-top: 5px;
}
.cadre-acti-bouton-1, .cadre-acti-bouton-2{
    width: 270px;
    height: 400px;
    border: 0px black solid;
    display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.acti-bouton-2{
    height: 215px;
    width: 270;
    border: 0px black solid;
    box-shadow: 2px 2px 5px 2px rgb(196, 191, 191);
    border-radius: 15px;
}
.acti-picture-2{
    width: 270px;
    height: 165px;
    border-radius: 15px 15px 0 0;
}
.acti-bouton-3{
    width: 270px;
    height: 150px;
    border: 0px black solid;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 2px rgb(196, 191, 191);
}
.acti-picture-3{
    width: 270px;
    height: 100px;
    border-radius: 15px 15px 0 0;
}
.texte-acti-2, .texte-acti-3{
    font-size: 0.9em;
    padding-left: 20px;
}
.acti-bouton-5, .acti-bouton-6{
        height: 185px;
        width: 270;
        border: 0px black solid;
        box-shadow: 2px 2px 5px 2px rgb(196, 191, 191);
        border-radius: 15px;
}
.acti-picture-5, .acti-picture-6{
    width: 270px;
    height: 130px;
    border-radius: 15px 15px 0 0;
}
.texte-acti-5, .texte-acti-6{
    font-size: 0.9em;
    padding-left: 20px;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    height: 210px;
    border:0px black solid;
    margin-top: 55px;
    background-color: #F2F2F2;
    padding-left: 50px;
    padding-top:30px;
    padding-right: 100px;
}
.col-footer{
    width: 280px;
    height: 200px;
}